
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;


  .main-wrapper {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  main {
    flex: 1;
  }

  .sidebar {
    order: -1;
  }

  @include respond-to('medium') {
    .main-wrapper {
      flex-direction: row;
    }
    main {
      flex: 1;

    }
    .sidebar {
      flex: 0 0 12em;
    }
  }

}
