/* no categories
.badge-category,
a.badge-category {
  color: #fff !important;
  background-color: #0088cc;
  &:hover, &:focus {
    color: #0088cc !important;
    background: transparent;
    text-decoration: none;
    border-bottom: none;
  }
}
*/

.badge-tag,
a.badge-tag {
  color: $white;
  background-color:  $sidebar-color;
  text-transform: capitalize;
  &:hover, &:focus {
    color: $body-color !important;
    background: transparent;
    text-decoration: none;
    font-weight: bold;
    border-bottom: none;
  }
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 0.8rem;
//  font-weight: bold;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.3rem;
}
