<section class="social">
  {{ with .Site.Params.social.mastodon }}
  <a href="{{ . }}" rel="me">
    <i class="icon icon-mastodon" aria-hidden="true"></i>
  </a>
  {{ end }}
	{{ with .Site.Params.social.twitter }}
	<a href="https://twitter.com/{{.}}" rel="me"><i class="icon icon-twitter" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.facebook }}
	<a href="https://facebook.com/{{.}}" rel="me"><i class="fa-facebook-f"></i></a>
	{{ end }}
	{{ with .Site.Params.social.github }}
	<a href="https://github.com/{{.}}" rel="me"><i class="icon icon-github-circled" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.bitbucket }}
	<a href="https://bitbucket.org/{{.}}" rel="me"><i class="fa-bitbucket fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.gitlab }}
	<a href="https://gitlab.com/{{.}}" rel="me"><i class="fa-gitlab fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.instagram }}
	<a href="https://instagram.com/{{.}}" rel="me"><i class="fa-instagram fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.linkedin }}
	<a href="https://linkedin.com/in/{{.}}" rel="me"><i class="icon icon-linkedin-squared" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.stackoverflow }}
	<a href="https://stackoverflow.com/users/{{.}}" rel="me"><i class="icon icon-stackoverflow" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.medium}}
	<a href="https://medium.com/@{{.}}" rel="me"><i class="fa-medium fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.xing }}
	<a href="https://www.xing.com/profile/{{.}}" rel="me"><i class="icon icon-xing" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.keybase }}
	<a href="https://keybase.io/{{.}}" rel="me"><i class="fa-keybase fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.telegram }}
	<a href="https://t.me/{{.}}" rel="me"><i class="fa-telegram fa-lg" aria-hidden="true"></i></a>
	{{ end }}
	{{ with .Site.Params.social.email }}
	<a href="mailto:{{.}}" rel="me"><i class=" icon icon-mail" aria-hidden="true"></i></a>
	{{ end }}
	<a rel="me" href="https://chaos.social/@taseroth"><i class="fa-brands fa-mastodon" aria-hidden="true"></i></a>
</section>
